In [1]:
# Подключим адаптер Psycopg для базы данных PostgreSQL
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\user\anaconda3\lib\site-packages (2.9.5)

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

# Задаём параметры подключения к БД
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': '...', # пароль
            'host': '....mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

# Формируем строку соединения с БД
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

In [3]:
# Подключаемся к БД
engine = create_engine(connection_string)

In [4]:
# Формируем sql-запрос
query = ''' SELECT * FROM dash_visits '''

In [5]:
# Выполняем запрос и сохраняем результат выполнения в DataFrame.
dash_visits = pd.io.sql.read_sql(query, con=engine, index_col = 'record_id')

In [6]:
# Выгружаем данные из таблицы dash_visits в файл dash_visits.csv
dash_visits.to_csv('dash_visits.csv')

In [7]:
dash_visits.head()

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27

Ссылка на дашборд: <https://public.tableau.com/app/profile/igor8530/viz/MyFirstViz_16781236722890/DashVisits?publish=yes>